In [26]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy

In [27]:
app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:////tmp/test.db'
db = SQLAlchemy(app)

J:\Anaconda\lib\site-packages\flask_sqlalchemy\__init__.py:834: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

## Create Database Structure

In [28]:
class Table(db.Model):
    
    id = db.Column(db.Integer, primary_key=True)
    First_name = db.Column(db.String(80), unique=True, nullable=False)
    Last_name = db.Column(db.String(80), unique=True, nullable=False)
    Age=  db.Column(db.Integer, primary_key=False)
    Company = db.Column(db.String(120), unique=False, nullable=False)
    Country= db.Column(db.String(120), unique=False, nullable=False)
    
    

    def __repr__(self):
        return '<User %r>' % self.First_name
        return '<User %r>' % self.Last_name
        return '<User %r>' % self.Age
        return '<User %r>' % self.Company
        return '<User %r>' % self.Country

In [29]:
db.create_all()

## Add data

In [30]:
b = Table(First_name='Brian', Last_name='Walsh',Age='29',Company='Nike',Country='US')
a = Table(First_name='Austin', Last_name='Taylor',Age='31',Company='Ebay',Country='US')
c = Table(First_name='Connor', Last_name='Jackson',Age='27',Company='Ebay',Country='US')
d = Table(First_name='Dylan', Last_name='Fisher',Age='30',Company='Audi',Country='UK')
e = Table(First_name='Evan', Last_name='Forsyth',Age='28',Company='Facebook',Country='UK')
f = Table(First_name='Frank', Last_name='Fraser',Age='21',Company='Microsoft',Country='US')
g = Table(First_name='Gordon', Last_name='Gibson',Age='19',Company='Microsoft',Country='US')
h = Table(First_name='Harry', Last_name='Sutherland',Age='25',Company='Ebay',Country='AU')
i = Table(First_name='Issac', Last_name='Hunter',Age='26',Company='Cocacola',Country='UK')
j = Table(First_name='Justin', Last_name='Ince',Age='25',Company='Adidas',Country='AU')

In [31]:
db.session.add(b)

In [32]:
db.session.add(c)
db.session.add(d)
db.session.add(e)
db.session.add(f)
db.session.add(g)
db.session.add(h)
db.session.add(i)
db.session.add(j)
db.session.add(a)

In [33]:
db.session.commit()

In [34]:
Table.query.all()

[<User 'Brian'>,
 <User 'Connor'>,
 <User 'Dylan'>,
 <User 'Evan'>,
 <User 'Frank'>,
 <User 'Gordon'>,
 <User 'Harry'>,
 <User 'Issac'>,
 <User 'Justin'>,
 <User 'Austin'>]

## Queries

In [35]:
a.id

10

In [36]:
b.id

1

## Filter

In [43]:
AU = Table.query.filter_by(Country='AU').first()

In [44]:
AU

In [46]:
Company = Table.query.filter_by(Company='Ebay').all()

In [47]:
Company

## Delete a particular user

In [48]:
db.session.delete(a)

In [50]:
db.session.commit()

## Sorting

In [53]:
Table.query.order_by(Table.Age).all()

[<User 'Gordon'>,
 <User 'Frank'>,
 <User 'Harry'>,
 <User 'Justin'>,
 <User 'Issac'>,
 <User 'Connor'>,
 <User 'Evan'>,
 <User 'Brian'>,
 <User 'Dylan'>]