In [41]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy
import pandas as pd
import csv
import numpy as np

In [13]:
app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:////tmp/test.db'
db = SQLAlchemy(app)

J:\Anaconda\lib\site-packages\flask_sqlalchemy\__init__.py:834: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

## Create Database Structure

In [14]:
class Db(db.Model):
    
    id = db.Column(db.Integer, primary_key=True)
    First_name = db.Column(db.String(80), unique=True, nullable=False)
    Last_name = db.Column(db.String(80), unique=True, nullable=False)
    Age=  db.Column(db.Integer, primary_key=False)
    Company = db.Column(db.String(120), unique=False, nullable=False)
    Country= db.Column(db.String(120), unique=False, nullable=False)
    
    

    def __repr__(self):
        return '<User %r>' % self.First_name

In [15]:
db.create_all()

## Add data

In [16]:
b = Db(First_name='Brian', Last_name='Walsh',Age='29',Company='Nike',Country='US')
a = Db(First_name='Austin', Last_name='Taylor',Age='31',Company='Ebay',Country='US')
c = Db(First_name='Connor', Last_name='Jackson',Age='27',Company='Ebay',Country='US')
d = Db(First_name='Dylan', Last_name='Fisher',Age='30',Company='Audi',Country='UK')
e = Db(First_name='Evan', Last_name='Forsyth',Age='28',Company='Facebook',Country='UK')
f = Db(First_name='Frank', Last_name='Fraser',Age='21',Company='Microsoft',Country='US')
g = Db(First_name='Gordon', Last_name='Gibson',Age='19',Company='Microsoft',Country='US')
h = Db(First_name='Harry', Last_name='Sutherland',Age='25',Company='Ebay',Country='AU')
i = Db(First_name='Issac', Last_name='Hunter',Age='26',Company='Cocacola',Country='UK')
j = Db(First_name='Justin', Last_name='Ince',Age='25',Company='Adidas',Country='AU')

In [17]:
db.session.add(b)

In [18]:
db.session.add(c)
db.session.add(d)
db.session.add(e)
db.session.add(f)
db.session.add(g)
db.session.add(h)
db.session.add(i)
db.session.add(j)
db.session.add(a)

In [19]:
db.session.commit()

In [20]:
Db.query.all()

[<User 'Brian'>,
 <User 'Connor'>,
 <User 'Dylan'>,
 <User 'Evan'>,
 <User 'Frank'>,
 <User 'Gordon'>,
 <User 'Harry'>,
 <User 'Issac'>,
 <User 'Justin'>,
 <User 'Austin'>]

## Queries

In [21]:
a.id

10

In [22]:
b.id

1

## Filter

In [23]:
AU = Db.query.filter_by(Country='AU').first()

In [24]:
AU

In [25]:
Company = Db.query.filter_by(Company='Ebay').all()

In [26]:
Company

## Delete a particular user

In [27]:
db.session.delete(a)

In [28]:
db.session.commit()

## Sorting

In [29]:
Db.query.order_by(Db.Age).all()

[<User 'Gordon'>,
 <User 'Frank'>,
 <User 'Harry'>,
 <User 'Justin'>,
 <User 'Issac'>,
 <User 'Connor'>,
 <User 'Evan'>,
 <User 'Brian'>,
 <User 'Dylan'>]

In [30]:
Db.query.all()

[<User 'Brian'>,
 <User 'Connor'>,
 <User 'Dylan'>,
 <User 'Evan'>,
 <User 'Frank'>,
 <User 'Gordon'>,
 <User 'Harry'>,
 <User 'Issac'>,
 <User 'Justin'>]

In [35]:
import csv

TypeError: 'BaseQuery' object is not callable

In [42]:

outfile = open('Table.csv', 'w')
outcsv = csv.writer(outfile)
records = db.session.query(Db).all()
[outcsv.writerow([getattr(curr, column.name) for column in Db.__mapper__.columns]) for curr in records]


outfile.close()

In [54]:

df = pd.read_csv('Table.csv',index_col=False) 
  
df.columns=['Id','First Name','Last Name','Age','Company','Country']

In [55]:
df.head()

   Id First Name Last Name  Age    Company Country
0   2     Connor   Jackson   27       Ebay      US
1   3      Dylan    Fisher   30       Audi      UK
2   4       Evan   Forsyth   28   Facebook      UK
3   5      Frank    Fraser   21  Microsoft      US
4   6     Gordon    Gibson   19  Microsoft      US

In [ ]:
Table = pd.ExcelWriter('Table.xlsx') 
df.to_excel(Table, index = False) 
  
Table.save()